:root{
    --primary:#1c2331;
    --primary-transparent:#1c2331e3;
    --secondary:#ffc107;
    --tertiary:#3d5e9e;
    --text-color:black;
    --test:snow;
}

/* Dark */
.custom-primary{
    background-color:var(--primary)!important;
    color:var(--test)!important;
}

.custom-primary-transparent{
    background-color:var(--primary-transparent)!important;
    color:var(--test)!important;
}

/* Yellow */
.custom-secondary{
    background-color: var(--secondary)!important;
    color:var(--text-color)!important;
}

.custom-secondary-text{
    color: var(--secondary)!important;
}


/* Blue */
.custom-tertiary{
    background-color: var(--tertiary)!important;
}

.custom-tertiary-text{
    color: var(--tertiary)!important;
}

