/* Dark */
.custom-primary{
    background-color:#1c2331;
    color:#fff;
}

.custom-primary-light{
    background-color:#1c2331e3;
    color:#fff;
}

/* Yellow */
.custom-secondary{
    background-color: #ffc107  !important;
    color:black !important;
}

.custom-secondary-text{
    color: #ffc107 !important;
}


/* Blue */
.custom-tertiary{
    background-color: #3d5e9e;
}

.custom-tertiary-text{
    color: #3d5e9e;
}

